openapi: 3.0.1
info:
  title: Kai Actions API
  version: 1.2.0
  description: >
    Hosted actions for Kai: recap, mirror, anchor, save reflection, get reflections, and export reflections.
servers:
  - url: https://kai-actions-ba4fsyk7ebclkdxdhpgpuu.streamlit.app
paths:
  /recap:
    post:
      summary: Generate a recap and quiet question.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                conversation:
                  type: string
      responses:
        "200":
          description: Recap output
          content:
            application/json:
              schema:
                type: object
                properties:
                  recap:
                    type: string
  /mirror:
    post:
      summary: Reflect the emotional tone of the user's message.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
      responses:
        "200":
          description: Reflection output
          content:
            application/json:
              schema:
                type: object
                properties:
                  reflection:
                    type: string
  /anchor:
    post:
      summary: Provide a grounding prompt.
      responses:
        "200":
          description: Grounding prompt
          content:
            application/json:
              schema:
                type: object
                properties:
                  anchor:
                    type: string
  /save_reflection:
    post:
      summary: Save a reflection with timestamp and send to Google Sheets.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
      responses:
        "200":
          description: Save confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /get_reflections:
    get:
      summary: Retrieve all reflections from Google Sheets.
      responses:
        "200":
          description: List of reflections
          content:
            application/json:
              schema:
                type: object
                properties:
                  reflections:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: string
                        text:
                          type: string
  /export_reflections:
    get:
      summary: Get the public export URL for your reflections sheet.
      responses:
        "200":
          description: CSV download link
          content:
            application/json:
              schema:
                type: object
                properties:
                  export_url:
                    type: string
